.mainDisplaySupportClass {
  background-color: plum;
  background-image: url("https://bigmemes.funnyjunk.com/large/pictures/7f/43/7f43d2_5365885.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
