.moviesLibraryPageDisplaySupportClass {
  background-color: plum;
  background-image: url("https://ae01.alicdn.com/kf/HTB1gs4tKFXXXXbZXVXXq6xXFXXXp/Free-Shipping-custom-Large-movie-poster-collage-style-mural-TV-background-living-room-bedroom-classic-wallpaper.jpg_640x640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.movieOverviewStyleSupport {
  width: 164px;
  height: 49%;
  padding-left: 5px;
  padding-right: 5px;
  overflow: auto;
  border: 1px solid rgba(112, 128, 144, 0.75);
}
