.mainATWDisplaySupportClass {
  background-color: plum;
  background-image: url("https://img0.etsystatic.com/155/0/10887512/il_fullxfull.1069853948_49a3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
