.mainATWDisplaySupportClass {
  background-color: plum;
  background-image: url("https://img0.etsystatic.com/155/0/10887512/il_fullxfull.1069853948_49a3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainATWDisplaySupportClassv2 {
  background-color: silver;
}

.headerBarForATW {
  width: 100%;
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: black;
  border-bottom: 1px solid rgba(112, 128, 144, 1);
}

.backToIndexPageButtonForATW {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid honeydew;
  color: honeydew;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.backToIndexPageButtonForATW:hover {
  background-color: slategrey;
}

.switchStylesButtonForATW {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 7px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.switchStylesButtonForATW:hover {
  background-color: slategrey;
}
