.randomQuizDisplaySupportClass {
  background-color: plum;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6c55e8b5-88d9-44df-80d5-86b2b0c40e07/d5ftikv-00d7a912-d97a-4476-8868-0040c401d7e8.jpg/v1/fill/w_900,h_599,q_75,strp/space_graffiti_face_by_bajambo_d5ftikv-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNmM1NWU4YjUtODhkOS00NGRmLTgwZDUtODZiMmIwYzQwZTA3XC9kNWZ0aWt2LTAwZDdhOTEyLWQ5N2EtNDQ3Ni04ODY4LTAwNDBjNDAxZDdlOC5qcGciLCJoZWlnaHQiOiI8PTU5OSIsIndpZHRoIjoiPD05MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uud2F0ZXJtYXJrIl0sIndtayI6eyJwYXRoIjoiXC93bVwvNmM1NWU4YjUtODhkOS00NGRmLTgwZDUtODZiMmIwYzQwZTA3XC9iYWphbWJvLTQucG5nIiwib3BhY2l0eSI6OTUsInByb3BvcnRpb25zIjowLjQ1LCJncmF2aXR5IjoiY2VudGVyIn19.UmJkU_jAOW6fDnnEUAD4fPpxAH8lmDdkat1RtQLBDX8");
  background-repeat: no-repeat;
  background-size: cover;
}

.answerALabel {
  height: 60px;
}

.answerBLabel {
  height: 60px;
}

.answerCLabel {
  height: 60px;
}

.answerDLabel {
}
