.quizAnswerSubmitButton {
  height: 100%;
  color: red;
  background-color: rgba(231, 201, 169, 0.95);
  font-family: monospace;
}

.quizAnswerInput {
}

.newQuizButton {
  height: 100%;
  color: red;
  background-color: rgba(231, 201, 169, 0.95);
  font-family: monospace;
}

.returnToQuizButton {
  height: 100%;
  color: cyan;
  background-color: rgba(231, 201, 169, 0.95);
  font-family: monospace;
}
