.mainSoundBoardDisplaySupportClass {
  background-color: plum;
  background-image: url("https://voiceemergent.files.wordpress.com/2013/05/sound-waves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSoundBoardDisplaySupportClassv2 {
  background-color: black;
}

.headerBarForSoundBoard {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: black;
  border-bottom: 1px solid rgba(112, 128, 144, 1);
}

.backToIndexPageButtonForSoundBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid honeydew;
  color: honeydew;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.backToIndexPageButtonForSoundBoard:hover {
  background-color: slategrey;
}

.switchStylesButtonForSoundBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 7px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.switchStylesButtonForSoundBoard:hover {
  background-color: slategrey;
}

.soundPlayersDisplay {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 90%;
  overflow: auto;
}

.soundPlayerContainer {
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black;
  border: 1px solid rgba(231, 201, 169, 1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.soundPlayerTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgba(231, 201, 169, 1);
  text-align: center;
  text-shadow: 0px 0px 2px rgba(112, 128, 144, 0.7);
  font-family: monospace;
  font-weight: 700;
  font-size: 25px;
}

.soundPlayer {
  width: 100%;
}
