.headerBarForCookbook {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  background-color: black;
  border-bottom: 1px solid rgba(112, 128, 144, 1);
}

.backToIndexPageButtonForCookbook {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid honeydew;
  color: honeydew;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.backToIndexPageButtonForCookbook:hover {
  background-color: slategrey;
}

.switchStylesButtonForCookbook {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 7px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.switchStylesButtonForCookbook:hover {
  background-color: slategrey;
}

.cookbookDisplaySupportClass {
  background-color: plum;
  background-image: url("https://i.pinimg.com/originals/9d/a7/0e/9da70e17b25d41ec21707c46e8480c95.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cookbookDisplaySupportClassv2 {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.cookbookMenuItemButton {
  margin: 3px;
  width: 20%;
  height: 95px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.cookbookMenuItemButton:hover {
  cursor: pointer;
  border-color: tan;
}

.cookbookMenuItemButtonSelected {
  margin: 3px;
  width: 20%;
  height: 95px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  border-color: tan;
  box-shadow: 0px 0px 5px 3px rgba(112, 128, 144, 0.75);
  overflow: hidden;
}

.leftCookbookMenuNavigationButton {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.rightCookbookMenuNavigationButton {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.leftRecipeNavButton {
  width: 105px;
  background-color: tan;
  cursor: pointer;
}

.leftRecipeNavButtonv2 {
  width: 105px;
  background-color: gainsboro;
  cursor: pointer;
}

.rightRecipeNavButton {
  width: 105px;
  background-color: tan;
  cursor: pointer;
}

.rightRecipeNavButtonv2 {
  width: 105px;
  background-color: gainsboro;
  cursor: pointer;
}
