.artPageDisplaySupportClass {
  background-color: plum;
  background-image: url("https://ae01.alicdn.com/kf/HTB1wmQMcBLN8KJjSZPhq6A.spXaA/Custom-mural-3d-photo-wallpaper-European-trend-street-graffiti-KTV-bar-painting-3d-wall-murals-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.artBoardCanvas {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 692px;
  height: 692px;
  border: 3px solid rgba(112, 128, 144, 0.75);
}

.selectLineButton {
}

.selectRectButton {
}

.selectSelectionButton {
}
