@keyframes heartFall {
  0% {
    top: -10%;
  }

  100% {
    top: 110%;
  }
}

.mainRHDisplaySupportClass {
  background-color: black;
  background-image: url("https://wallpapercave.com/wp/gCqWjfd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainRHDisplaySupportClass {
  background-color: gainsboro;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerBarForRH {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: black;
  border-bottom: 1px solid rgba(112, 128, 144, 1);
}

.backToIndexPageButtonForRH {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid honeydew;
  color: honeydew;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.backToIndexPageButtonForRH:hover {
  background-color: slategrey;
}

.switchStylesButtonForRH {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 7px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.switchStylesButtonForRH:hover {
  background-color: slategrey;
}

.heart {
  width: 25px;
  height: 25px;
  animation: heartFall ease-in-out 0.5s 1 forwards;
}
