.headerBarForTL {
  width: 29%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background-color: black;
  border-bottom: 1px solid rgba(112, 128, 144, 1);
}

.backToIndexPageButtonForTL {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid honeydew;
  color: honeydew;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.backToIndexPageButtonForTL:hover {
  background-color: slategrey;
}

.switchStylesButtonForTL {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 7px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.switchStylesButtonForTL:hover {
  background-color: slategrey;
}

.todoTitleInput {
  width: 80%;
  height: 100%;
  padding-left: 15px;
  background-color: rgba(128, 0, 0, 0.5);
  color: rgba(248, 236, 194, 1);
}

.todoTitleInputv2 {
  width: 80%;
  height: 100%;
  padding-left: 15px;
  background-color: gainsboro;
  color: black;
}

.newTodoButton {
  width: 20%;
  height: 100%;
  background-color: rgba(112, 128, 144, 0.5);
}

.newTodoButtonv2 {
  width: 20%;
  height: 100%;
  background-color: gainsboro;
}

.newTodoButtonIcon {
}

.todoTitleInput::placeholder {
  color: rgba(248, 236, 194, 1);
  text-shadow: 0px 0px 2px rgba(128, 0, 0, 1);
}

.todoTitleInputv2::placeholder {
  color: black;
  text-shadow: 0px 0px 2px silver;
}

.todoInput {
  width: 100%;
  height: 65%;
  padding-left: 15px;
  border: 2px solid cyan;
  background-color: rgba(128, 0, 0, 0.5);
  color: rgba(248, 236, 194, 1);
}

.todoInputv2 {
  width: 100%;
  height: 65%;
  padding-left: 15px;
  border: 2px solid black;
  background-color: gainsboro;
  color: black;
}

.todoInput::placeholder {
  color: rgba(248, 236, 194, 1);
  text-shadow: 0px 0px 2px rgba(128, 0, 0, 1);
}

.todoInputv2::placeholder {
  color: black;
  text-shadow: 0px 0px 2px silver;
}

.todoCompleteByInput {
  width: 67%;
  height: 100%;
  padding-left: 15px;
  border: 2px solid cyan;
  background-color: rgba(128, 0, 0, 0.5);
  color: rgba(248, 236, 194, 1);
}

.todoCompleteByInputv2 {
  width: 67%;
  height: 100%;
  padding-left: 15px;
  border: 2px solid black;
  background-color: gainsboro;
  color: black;
}

.todoCompleteByInput::placeholder {
  color: rgba(248, 236, 194, 1);
  text-shadow: 0px 0px 2px rgba(128, 0, 0, 1);
}

.todoCompleteByInputv2::placeholder {
  color: black;
  text-shadow: 0px 0px 2px silver;
}

.todoSaveButton {
  width: 33%;
  height: 100%;
  background-color: rgba(248, 236, 194, 0.5);
  color: rgba(248, 236, 194, 1);
  text-shadow: 0px 0px 2px rgba(0, 15, 144, 1);
  text-align: center;
  font-size: 15px;
}

.todoSaveButtonv2 {
  width: 33%;
  height: 100%;
  background-color: gainsboro;
  color: black;
  text-shadow: 0px 0px 2px silver;
  text-align: center;
  font-size: 15px;
}

.todoItemEditButton {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 228, 181, 0.75);
}

.todoItemEditButtonv2 {
  width: 100%;
  height: 100%;
  background-color: gainsboro;
}

.todoItemEditButtonIcon {
  background-color: rgba(0, 15, 144, 0.75);
  color: rgba(248, 236, 194, 1);
  border-radius: 100%;
  box-shadow: 0px 0px 3px 5px rgba(0, 15, 144, 0.5);
}

.todoItemEditButtonIconv2 {
  background-color: gainsboro;
  color: black;
  border-radius: 100%;
  box-shadow: 0px 0px 3px 5px silver;
}
