.headerBarForNotePad {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: black;
  border-bottom: 1px solid rgba(112, 128, 144, 1);
}

.backToIndexPageButtonForNotePad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid honeydew;
  color: honeydew;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.backToIndexPageButtonForNotePad:hover {
  background-color: slategrey;
}

.switchStylesButtonForNotePad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 7px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.switchStylesButtonForNotePad:hover {
  background-color: slategrey;
}

.notePadHomeButton {
  width: 10%;
  height: 100%;
  background-color: darkblue;
}
.notePadHomeButtonv2 {
  width: 10%;
  height: 100%;
  background-color: gainsboro;
}

.notePadHomeIcon {
  color: rgba(0, 255, 255, 0.75);
}

.notePadHomeIconv2 {
  color: black;
}

.formView {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.formInputTitle {
  width: 100%;
  height: 5%;
  text-align: center;
}

.formInputNote {
  width: 100%;
  height: 67%;
  text-align: center;
}

.formInputNotev2 {
  width: 100%;
  height: 67%;
  text-align: center;
}

.formInputNote::placeholder {
  color: blue;
  text-align: center;
}

.formInputNotev2::placeholder {
  color: black;
  text-align: center;
}

.formSubmitButton {
  height: 10%;
  width: 100%;
  border-radius: 0%;
  background-color: rgba(0, 0, 139, 0.75);
  color: rgb(255, 51, 0);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Consolas", "Roboto", "sans-serif";
}

.formSubmitButtonv2 {
  height: 10%;
  width: 100%;
  border-radius: 0%;
  background-color: rgb(220, 220, 220);
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Consolas", "Roboto", "sans-serif";
}
