.recipePhoto {
}

.swipeContainer {
  overflow: hidden;
}

.firstRecipeButton {
  margin: 2px;
  border-radius: 100%;
  overflow: hidden;
}

.firstRecipeButtonImage {
}

.secondRecipeButton {
  margin: 2px;
  border-radius: 100%;
  overflow: hidden;
}

.secondRecipeButtonImage {
}

.thirdRecipeButton {
  margin: 2px;
  border-radius: 100%;
  overflow: hidden;
}

.thirdRecipeButtonImage {
}

.fourthRecipeButton {
  margin: 2px;
  border-radius: 100%;
  overflow: hidden;
}

.fourthRecipeButtonImage {
}

.fifthRecipeButton {
  margin: 2px;
  border-radius: 100%;
  overflow: hidden;
}

.fifthRecipeButtonImage {
}
