.headerBarForMobileCookbook {
  width: 100%;
  height: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: black;
  border-bottom: 1px solid rgba(112, 128, 144, 1);
}

.backToIndexPageButtonForMobileCookbook {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid honeydew;
  color: honeydew;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.backToIndexPageButtonForMobileCookbook:hover {
  background-color: slategrey;
}

.switchStylesButtonForMobileCookbook {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 7px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
}

.switchStylesButtonForMobileCookbook:hover {
  background-color: slategrey;
}

.recipePhoto {
}

.swipeContainer {
  overflow: hidden;
}

.firstRecipeButton {
  margin: 2px;
  border-radius: 100%;
  overflow: hidden;
}

.firstRecipeButtonImage {
}

.secondRecipeButton {
  margin: 2px;
  border-radius: 100%;
  overflow: hidden;
}

.secondRecipeButtonImage {
}

.thirdRecipeButton {
  margin: 2px;
  border-radius: 100%;
  overflow: hidden;
}

.thirdRecipeButtonImage {
}

.fourthRecipeButton {
  margin: 2px;
  border-radius: 100%;
  overflow: hidden;
}

.fourthRecipeButtonImage {
}

.fifthRecipeButton {
  margin: 2px;
  border-radius: 100%;
  overflow: hidden;
}

.fifthRecipeButtonImage {
}
