.mainDMTDisplaySupportClass {
  background-color: plum;
  // background-image: url("https://wallpapercave.com/wp/wp2268970.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.textArea {
}

.toggleButton {
  display: flex;
  justify-content: center;
  background-color: black;
  color: cornsilk;
  cursor: pointer;
}
